
    <td>
        <img *ngIf='showImage'
                [src]='product.imageUrl'
                [title]='product.productName'>

    </td>

    <td>
        <a [routerLink]="['/products', product.productId]">{{ product.productName }}</a>
    </td>

    <td>{{ product.productCode | lowercase | convertToSpaces: '-'}}</td>
    <td>{{ product.releaseDate }}</td>
    <td>{{ product.price | currency: 'USD':true:'1.2-2' }}</td>
    
    <td>
        <pm-star [rating] = 'product.starRating'
                    (ratingClicked)='onRatingClicked($event)'>
        </pm-star>
    </td>

